# Intro to ipywidgets

Start by reading Simple Widget Introduction at https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Basics.html. Installation is easy, just install into any conda environment via:

```
$ conda install ipywidgets
```

There's been a bunch of issues related to installing ipywidgets in Jupyter Lab lately. So, just use Jupyter Notebook instead.
I've followed the [installation instructions for ipywidgets in Jupyter Lab](https://ipywidgets.readthedocs.io/en/latest/user_install.html) but still get the dreaded "model not found error".

In [1]:
import pandas as pd
import ipywidgets as widgets
import matplotlib.pyplot as plt

## California housing data
There's a nice dataset in Kaggle that contains a number of aggregate housing and income indicators by census block. Let's use this to demonstrate a simple use of a Jupyter widget to select which column to plot as a histogram.

Main Kaggle URL: https://www.kaggle.com/dhirajnirne/california-housing-data

Description of the dataset: 

https://developers.google.com/machine-learning/crash-course/california-housing-data-description

In [2]:
housing_df = pd.read_csv('data/housing.csv')
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## Getting started with `ipywidgets`
Go check out the [Jupyter Widgets User Guide](http://ipywidgets.readthedocs.io/en/latest/index.html) to familiarize yourself with the basics of widgets. Let's use a widget to control which column of a dataframe is used in a histogram.

Let's put the column names into a list. We'll use this list to populate a `Dropdown` widget.

In [3]:
data_cols = housing_df.columns.to_list()
data_cols

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

Now we create the widget. Notice the `options=data_cols` which will populate the dropdown options with our column names.

In [4]:
pick_col = widgets.Dropdown(
    options=data_cols,
    description='Column',
)

To show the widget, we can use the `display`function from the `IPython.display` module. Try it out.

In [5]:
display(pick_col)

Dropdown(description='Column', options=('longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bâ€¦

Now we'll create a simple wrapper function that takes a data column (a pandas `Series` in this case) and creates a histogram using matplotlib.

In [6]:
def create_histo(col):
    
    plt.hist(housing_df[col])

To "hook up" the slider to the function, use the [`interact` function](http://ipywidgets.readthedocs.io/en/latest/examples/Using%20Interact.html). A few things to note:

- The function is passed in as the first argument.
- The second argument to `interact` is a named argument which references the widget we want to use.
- We can pass a widget variable we've already created or create one on the fly.

In [7]:
widgets.interact(create_histo, col=pick_col);

interactive(children=(Dropdown(description='Column', options=('longitude', 'latitude', 'housing_median_age', 'â€¦